*{
  padding: 0;
  margin: 0;
  font-family: 'Montserrat Alternates', sans-serif;
}

.logout-img{
  /* position: fixed;
  left: 1vw; */
  width: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  color: red
}

.logout-img img{
  width: 100%;
}



.form-container{
  width: 40vw;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
  color: white;
}

.form-container a{
  color:greenyellow;
  text-decoration: none;
}

.form-container div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

form input{
  padding: 2vh 2vw;
  max-width: 30vw;
  margin: 2vh 0;
  border: none;
}

form button{
  padding: 1vh 2vw;
  margin: 2vh 0;
  transition: all 0.5s ease-in-out;
  border: none;
  cursor: pointer;
}

form button:hover{
  background-color: black;
  color: white;
}

.not-found{
  display: flex;
  color: white;
  justify-content: center;
}

.galleryItem img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.galleryContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.galleryWrapper {
  padding: 5% 10%;
}

.filterItem ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  padding: 0;
  gap: 20px;
  margin-bottom: 30px;
}

.filterItem ul button {
  background: #3d93b9;
  color: #fff;
  padding: 8px 46px;
  text-transform: uppercase;
  border: navajowhite;
  font-size: 17px;
  border-radius: 50px;
}

.filterItem ul button:hover {
  background: #222;
  cursor: pointer;
}

.galleryItem img {
  border-radius: 15px;
}


@media screen and (max-width: 648px){
  body{
    background-color: black;
  }

  .form-container h1{
    font-size: 20px;
  }

  .logout-img{
    border: 1px dotted greenyellow;
  }

  .drop-box{
    width: 60vw;
  }

}

@media screen and (max-width: 575px){

  .drop-box{
    width: 60vw;
  }

  .image-container{
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 442px){
  .image-container{
    grid-template-columns: 1fr;
  }

  .img-div{
    width: 25vw;
  }

  .drop-box{
    width: 70vw;
  }
}

