*{
  padding: 0;
  margin: 0;
  font-family: 'Montserrat Alternates', sans-serif;
}


.logout-img{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: fixed;
}

.tab{
  display: flex;
  justify-content: center;
  margin: 2vh 0;
}

.tab button{
  padding: 1vh 1.5vw;
  text-transform: uppercase;
  border: navajowhite;
  border-radius: 50px;
  background: #3d93b9;
  color: #fff;
}



.filterItem button:hover {
  background: #222;
  cursor: pointer;
}

li{
  display: inline-flex;
}

.input{
  display: flex;
  justify-content: center;
  margin: 2vh 0;
}

input{
  padding: 1vh 1.5vw;
  border-radius: 3px;
  border: none;
  background-color: #3d93b9;
  color: #fff;
}

input::placeholder{
  color: white;
}

.sortable-con{
  display: flex;
  justify-content: center;
  align-items: center;
}

.list{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1vh 1vw;
}

.img-con{
  width: 25vw;
}

.img-con img{
  width: 100%;
  /* height: 25vh; */
  object-fit: contain;
}


.form-container{
  width: 40vw;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
  color: white;
}

.form-container a{
  color:greenyellow;
  text-decoration: none;
}

.form-container div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
}

form input{
  padding: 2vh 2vw;
  max-width: 30vw;
  margin: 2vh 0;
  border: none;
}

form button{
  padding: 1vh 2vw;
  margin: 2vh 0;
  transition: all 0.5s ease-in-out;
  border: none;
  cursor: pointer;
}

form button:hover{
  background-color: black;
  color: white;
}

.not-found{
  display: flex;
  color: white;
  justify-content: center;
}


@media screen and (max-width: 442px){
  .tab{
    display: none;
  }
}
